.mainContainer {
  background-color: rgba(255, 255, 255, 1);
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 22px 68px 66px 24px;
}

.productsSection {
  margin-top: 40px;
}

.sectionTitle {
  font: 700 36px Trebuchet MS, sans-serif;
  margin: 0 0 20px;
}

.productsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(208px, 1fr));
  gap: 20px;
}

@media (max-width: 991px) {
  .mainContainer {
    padding: 20px;
  }
}
