/* Cart.css */

/* General Cart Styles */
.cart-container {
  display: flex;
  flex-direction: column;
  
  padding: 20px;
  min-height: 100vh;
  height: 100vh; /* Ensures the container takes the full height of the viewport */
  background-image: url('/images/wall3.png');
  background-size: cover; /* Ensures the image covers the entire container */
  background-position: center; /* Centers the background image */
  background-repeat: no-repeat; 
  
}

h2 {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 20px;
  margin-left: 50px;
}

/* Product List Styles */
.cart-items {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.cart-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.item-image {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 8px;
}

.item-details {
  flex-grow: 1;
  padding-left: 20px;
}

.item-title {
  font-size: 24px;
  font-weight: 600;
}

.item-price {
  font-size: 20px;
  color:blue;
}

/* Quantity Button Styles */
.item-quantity {
  display: flex;
  align-items: center;
  gap: 10px;
}

.item-quantity button {
  font-size: 20px;
  padding: 5px 10px;
  background-color: #007bff;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.item-quantity button:hover {
  background-color: #0056b3;
}

.remove-item {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #dc3545;
  
}

.remove-item:hover {
  color: #c82333;
}

/* Cart Actions Styles */
.cart-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}

.total-amount {
  font-size: 28px;
  font-weight: bold;
  color: #343a40;
}


.buy-now-button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: #28a745;
  color: #ffffff;
  transition: background-color 0.3s;
}

.back-button:hover,
.buy-now-button:hover {
  background-color: #218838;
}

.buy-now-button {
  background-color: #007bff;
  width: 200px;
  height: 60px;
  font-size: 28px;
  color: black;
}

.buy-now-button:hover {
  background-color: #0056b3;

}

.trashbin {
  width: 35px;
  height: 35px;
}

.para {
  font-size: 28px;
}

.back-button {

  width: 150px;
  height: 60px;
  background-color: #28a745;
  font-size: 28px;
  border:#28a745 ;
  color: black;
}