.productCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 200px;
  height: 400px;
 
}

.productImage {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 10px;
}

.productInfo {
  margin-bottom: 10px;
}

.productTitle {
  font-size: 24px;
  font-weight: bold;
  margin: 10px 0;
}

.productPrice {
  font-size: 20px;
  color: blue;
}

.addtocartbutton {
  background-color: #0000ff;
  color: #ffffff;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
}

.addtocartbutton:hover {
  background-color: #0056b3;
}
