.main-container {
  display: flex;
  flex-direction: column;
  background-color: #f2a7e6;
  padding: 20px;
  min-height: 100vh;
  background-image: url('/images/wall3.png');
  background-size: cover; /* Ensures the image covers the entire container */
  background-position: center; /* Centers the background image */
  background-repeat: no-repeat; 
  
}

.menu {
  margin-bottom: 20px;
}

.products-section {
  background:transparent; 
  padding: 20px;
  border-radius: 8px;
  align-content: center;
}

.section-title {
  font-size: 60px;
  font-weight: bold;
  margin-bottom: 20px;
  
  justify-self: left;
  
  margin: 50px;
}




.product-item {
  display: inline-block; /* Ensures product cards are inline horizontally */
  width: 300px; /* Adjust width as per your design */
  margin: 10px; /* Add spacing between product cards */
  vertical-align: top;
  
}

.allproducts {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  column-gap: 50px;
}